body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  width: 1158px;
  padding: 0,15px;
  margin:auto;
}
.container-header{
  display: flex;
}
/* HEADER */
.header{
  border-bottom: 1px solid cornflower;
}
.navigation{
  display:flex;
}

.logo-header {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-blu {
  color: #2e2f42; 
}

.nav-list{
  display: flex;
  gap: 40px;
}

.nav-header {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing:0.02em;
  color:#2e2f42;
  }
  .nav-header:hover,
  .nav-header:focus{
    color: #404BBF;
  }
.address {
  font-style: normal;
  margin-left: auto;
}
.address-list{
  display: flex;
  gap: 40px;
}
.address-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-item:hover,
.address-item:focus{
  color: #404bbf;
}


/* SECTION 1 */
.section-one {
  background-color:#2e2f42;

}

.section-one-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:#ffffff;
}
.button-one-section {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

}
.button-one-section:hover,
.button-one-section:focus{
  background-color: #404bbf;
}

/* SEECTION 2 */
.section-two {
}
.section-two-title {
  color:#2E2F42;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02;
text-transform: capitalize;
}
.section-two-list-item {

}
.section-header-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-two-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

/* SECTION 3 */
.section-three {
  background-color: #F4F4FD;
}
.section-three-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
}

.s-three-list-item{
  background-color: #FFFFFF;

}
.section-header-three {

}
.section-three-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455; 
}


/* SECTION 4 */
.section-four {
  

}
.section-four-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;


}
.section-four-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.section-four-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;

}

/* FOOTER */

.footer {
  background-color:#2e2f42;
} 

.logo-blu-footer{
    color: #f4f4fd;
}


.footer-text {
  color: var(--CLOUD, #F4F4FD);
  line-height: 1.5;
  letter-spacing: 0.02em; 
}
